name: Docker image CI/CD

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  PLATFORMS: linux/amd64

on:
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    name: Build image
    runs-on: ubuntu-22.04

    steps:
      - name: Free disk space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: false

      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare
        id: prep
        run: |
          # 生成日期 Tag 并设置镜像名称
          DATE_TAG=$(date +%F)
          
          # 构建 ghcr.io 的镜像地址，格式为 ghcr.io/用户名/仓库名
          #在此处将大写转换为小写，因为 Docker 镜像名不能包含大写字母
          IMAGE_ID=ghcr.io/${{ github.repository }}
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          
          # 拼接最终的 Tag
          TAGS="${IMAGE_ID}:${DATE_TAG}",${IMAGE_ID}:latest"
          
          # 输出结果以便后续步骤使用
          echo "version=${DATE_TAG}" >> $GITHUB_OUTPUT
          echo "tags=${TAGS}" >> $GITHUB_OUTPUT
          
          echo "::group::Info"
          echo "Tagging image as: $TAGS"
          echo "::endgroup::"

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm,arm64,ppc64le,mips64,s390x

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          provenance: false
          platforms: ${{ env.PLATFORMS }}
          tags: ${{ steps.prep.outputs.tags }}
          build-args: |
            DOCKER_IMAGE_VERSION=${{ steps.prep.outputs.version }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
